#pTable
{
	border:5px solid orange;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-collapse:collapse; 
	width: 50%;
	background-color: black;
	color: white;	
}

#pTable th,td
{
	border: 2px solid orange;
	padding: 10px;
}

#pTable td
{
	background-color: white;	
	color: black;
}
	
header,footer
{
	padding:1px;
	text-align:center;
	font-size:25px;
	width:100%;
	background-color:orange;
	border-radius:15px;
	color:black;
}

body
{
	text-align:center;
	background-color:black;
	color:white;
}

.sandwich
{
	padding:1px;
}

a
{
	text-decoration:none;
	color:black;	
}

table
{
	background-color:orange;
	color:black;
	width:30%;
	margin:auto;
	height:50%;
	padding:10px;
	border-radius:30px;
	font-size:20px;
}

.tButton
{
	border-radius:30px;
	border-color:black;
	background-color:black;
	color:white;
	height:35px;
	width:100px;
}

button
{
	background-color:orange;
	color:black;
	border-radius:30px;
	border-color:black;
	font-size:20px;
}


